.comments{overflow:hidden;margin:1.5em 0}.comment.comment-preview{background-color:#ffffea}.comment .new{color:#c00}.comment .permalink{text-transform:uppercase;font-size:75%}.indented{margin-left:30px}.comment-unpublished p.unpublished{height:0;overflow:visible;color:#d8d8d8;line-height:1;font-weight:bold;text-transform:uppercase;text-align:center;word-wrap:break-word}
