.node .submitted{margin:0.2em 0 0.5em 0}.node>.section{overflow:hidden}.node-unpublished p.unpublished{height:0;overflow:visible;color:#d8d8d8;line-height:1;font-weight:bold;text-transform:uppercase;text-align:center;word-wrap:break-word}
