//
// Custom sass mixins
//
// To use a mixin in this file, add this line to the top of your .scss file:
// @import "base";
// Then to use a mixin for a particular rule, add this inside the ruleset's
// curly brackets:
//   @include mix-in-name;

// Import some goalgorilla extras
@import "compass/css3/box-shadow";

// element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
@mixin element-invisible {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    clip: rect(1px 1px 1px 1px); // IE6 and IE7 use the wrong syntax.
  }
  clip: rect(1px, 1px, 1px, 1px);
}

// Turns off the element-invisible effect.
@mixin element-invisible-off {
  position: static !important;
  clip: auto;
  height: auto;
  width: auto;
  overflow: auto;
}

@mixin element-focusable {
  @include element-invisible;

  &:active,
  &:focus {
    @include element-invisible-off;
  }
}

// The word "Unpublished" displayed underneath unpublished nodes and comments.
@mixin unpublished-div {
  height: 0;
  overflow: visible;
  color: #d8d8d8;
  line-height: 1;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word; // A very nice CSS3 property

  @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
    .lt-ie8 &>* {
      position: relative; // Otherwise these elements will appear below the "Unpublished" text.
    }
  }
}

// Button styling
@mixin button($bgcolor, $textcolor, $borderradius, $bordercolor, $padding_vertical, $padding_horizontal, $float) {
  border: 1px solid $bordercolor;
  display: block;
  color: $textcolor;
  padding: $padding_vertical $padding_horizontal;
  margin-right: 1em;
  background-color: $bgcolor;
  -webkit-border-radius: $borderradius;
  border-radius: $borderradius;
  -moz-border-radius: $borderradius;
  float: $float;
}

@mixin bg-gradient($bgstart, $bgend) {
  background: -moz-linear-gradient(top,$bgstart 0%,$bgend);
  background: -webkit-gradient(linear, left top, left bottom, from($bgstart),to($bgend));
}

@mixin text($family,$size,$color,$text-line-height) {
  font: {
    family: $family;
    size: $size;
  }
  color: $color;
  line-height: $text-line-height;
}

@mixin heading($family,$size,$heading-color,$text-line-height) {
  font: {
    family: $family;
    size: $size;
  }
  color: $heading-color;
  line-height: $text-line-height;
}

@mixin border-top($border-width, $border-style, $border-color) {
  border-top: $int-border-width $border-style $border-color;
}

@mixin border-bottom($border-width, $border-style, $border-color) {
  border-bottom: $border-width $border-style $border-color;
}

@mixin border-rounded($radius, $side) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}
