/*
 * Copyright (c) 2012 Thibaut Courouble
 * http://www.webinterfacelab.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

@import "compass/utilities/general/clearfix";

$navHeight: 34px;
$navBackgroundColor: #759aaf;

nav#main-menu {
  height: 34px;
  border-bottom: 5px solid #fff;
  @include box-shadow(inset 0 -2px 1px rgba(0, 0, 0, .03));

  > ul {

    > li {
      float: left;
      margin-right: 3px;

      > a {
        display: block;
        height: $navHeight;
        line-height: $navHeight;
        padding: 0 20px;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 -1px rgba(0, 0, 0, .3);
        border-radius: 3px 3px 0 0;
        // @include linear-gradient(top, lighten($navBackgroundColor, 12%), $navBackgroundColor, $fallback: $navBackgroundColor);
        @include box-shadow(inset 0 1px rgba(255, 255, 255, .3), inset 0 -2px 2px rgba(0, 0, 0, .03), 0 2px #fff, 0 0 2px rgba(0, 0, 0, .2));

        &:hover {
          text-decoration: none;
          //@include linear-gradient(top, lighten($navBackgroundColor, 18%), lighten($navBackgroundColor, 5%), $fallback: lighten($navBackgroundColor, 5%));
        }
      }

      &.active > a, & > a:active, &.dropdown:hover > a {
        background: #fff;
        color: #404040;
        text-shadow: none;
        @include box-shadow(0 2px #fff, 0 0 2px rgba(0, 0, 0, .2));
      }
    }
  }

  a.icon {
    $width: $navHeight * 1.2;
    position: relative;
    width: $width;
    padding: 0;

    span {
      display: block;
      text-indent: -1000px;
      overflow: hidden;
      position: absolute;
      top: round(($navHeight - 16px) / 2);
      left: round(($width - 16px) / 2);
      height: 16px;
      width: 16px;
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    &.home span { background-image: url('../img/home.png'); }
  }

  .active a.icon, a.icon:active { span { background-position: 0 -16px; } }
}

.dropdown {
  position: relative;
  border-bottom: 5px solid #fff;

  &:hover ul { display: block; }

  ul {
    display: none;
    position: absolute;
    top: $navHeight + 5px;
    left: -1px;
    min-width: 160px;
    padding: 0 0 5px;
    background: #fff;
    border: 1px solid #dadada;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    @include box-shadow(0 0 1px rgba(0, 0, 0, .04));

    &.large { min-width: 200px; }
  }

  li {
    display: block;
    margin: 0 18px;
    overflow: visible;

    + li { border-top: 1px solid #eee; }

    a {
      display: block;
      color: #555;
      padding: 8px 18px;
      margin: 0 -18px;

      &:hover { color: #222; }
    }
  }
}

