// Default variables

// Fonts
$font-family: Arial,Verdana,'Sans Serif';
$font-color: #666666;
$font-size: 1em;
$body-line-height: 1.2em;
$text-line-height: 1.5em;

// Colors
$link-color: #2ba6e8;
$heading-color: #002a54;
$color-light-grey: #bfbfbf;
$color-light-blue: #6bc1ef;
$color-bright-red: #e61b26;
$border-color: #dfdfdf;

// Margins
$margin-smallest: 4px;
$margin-smaller: 8px;
$margin-small: 12px;
$margin-medium: 18px;
$margin-large: 24px;
$margin-huge: 30px;

@import "custom";
//@import "news";

//@import "tabbednavigation";

// Basic styling
body,
div {
	@include text($font-family,$font-size,$font-color,$body-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: $text-line-height;
}

h1 {
	@include text($font-family,$font-size + 1em,$heading-color,$text-line-height);
}

h2 {
	@include text($font-family,$font-size + 0.5em,$heading-color,$text-line-height);
}

h3 {
	@include text($font-family,$font-size,$heading-color,$text-line-height);
}

a:link {
	color: $link-color;
	text-decoration: none;
	&:hover { color: $heading-color; }
}

// Forms

input.form-submit,
a.button {
  @include button(green,#fff,5px,#fff,5px,10px); 
}